---
layout: splash
author_profile: false
read_time: false
comments: false
share: false
toc: false
date: 2021-08-03
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/2021-splash.png
  actions:
    - label: "About"
      url: "https://github.com/mmistakes/minimal-mistakes/"
excerpt: "News about what's coming in 2022."
intro: 
  - excerpt: 'Welcome to my website, where I post anything I want, from ideas, credible leaks, tech and gaming news and reviews, and everything else.'
feature_row:
  - image_path: assets/images/2021-games.png
    image_caption: "Image courtesy of [Vanta Interactive](https://vanta-interactive.github.io)"
    alt: "GRAV0RTAL image from 2020, outdated"
    title: "Games"
    excerpt: "More details about the games I make, including concept art, ideas, and other stuff."
    url: "#"
    btn_label: "Read More (Early 2022)"
    btn_class: "btn--primary"
  - image_path: /assets/images/2021-scaleniun.png
    image_caption: "Image courtesy of [Alex Howell](https://alexhowell2a.github.io)"
    alt: "Scaleniun Teaser Image"
    title: "Scaleniun"
    excerpt: "More about the upcoming Scaleniun design system for Android."
    url: "#"
    btn_label: "Read More (Early 2022)"
    btn_class: "btn--primary"
  - image_path: /assets/images/2021-archviz.png
    title: "Archviz"
    excerpt: "More details about my archviz content (coming late 2022)."
    url: "#"
    btn_label: "Read More (Late 2022)"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/2021-08-03-pixel6-announcement.png
    alt: "Google Pixel 6 & 6 Pro Announced"
    title: "Read the latest article: Google Pixel 6 & 6 Pro Announced"
    excerpt: 'After months of waiting for official news from Google on the Pixel 6 line-up, Google broke the silence with some pretty promising words, like the phone’s capabilities and specifications, along with a release date.'
    url: "https://alexhowell2a.github.io/google/phones/pixel%206/pixel6-officially-revealed/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/2021-08-allarticles-splash.png
    alt: "Latest article released and upcoming video on YouTube"
    title: "Browse all articles"
    excerpt: 'Find something you're interested in and give it a read!'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}
